@import './common/colors.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'inter', sans-serif;
}

a{
  text-decoration: none;
}

body{
  background-color: $primary-color;
}

.container{
  margin: 0px 40px;
}